/asistente-asignatura/agent_scripts/
/asistente-asignatura/ejercicios/**/*.pdf
/asistente-asignatura/ejercicios/**/*.md
**/.DS_store
**/.venv/
**/.env/
**/.env
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.log
**/.mypy_cache/
**/.pytest_cache/
**/.coverage
**/.tox/
**/htmlcov/
**/.idea/
**/.vscode/
*.sqlite3

